body{
  overflow-x: hidden;
}

.fundo {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sombra{
  box-shadow: 0 0 32px rgba(0,0,0,0.3);
}

.gradiente {
  opacity: 1;
  transition: opacity 0.5s !important;
  background: #0079b8;
  background: -moz-linear-gradient(45deg, #0079b8 1%, #00bf8b 100%); 
  background: -webkit-linear-gradient(45deg, #0079b8 1%,#00bf8b 100%); 
  background: linear-gradient(45deg, #0079b8 1%,#00bf8b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0079b8', endColorstr='#00bf8b',GradientType=1 );
}

.primary-color-text {
  color: #ffffff;
}

.custom-file-label::after{
  content: 'Selecionar' !important;
}

.aparecer{
  animation: fadeIn 0.3s forwards;
}

.esconder{
  animation: fadeOut forwards;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}