.redondo {
  z-index: 1000;
  height: 80px;
  width: 80px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  border-radius: 100%;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: aparecer 0.7s forwards;
}

.redondo:hover {
  background-color: #ddd;
  border: 2px solid #eee;
  box-shadow: 0 0 11px rgba(0,0,0,0.7);
}

.redondo:active, .redondo:active:focus {
  background-color: #aaa !important;
  border: 2px solid #ccc !important;
  box-shadow: 0 0 10px rgba(0,0,0,0.6) !important;
}

.link {
  text-decoration: none;
  color: #212529;
}

.link:hover {
  text-decoration: none;
  color: #212529;
}

.link:active {
  color: #eeeeee;
}

.item-drop:active {
  color: #eeeeee;
  background-color: #00a09f;
}

.item-drop:focus {
  outline: none;
}

@keyframes aparecer {
  from { right: -140px; }
  to{ right: 20px; }
}