.root-detalhe{
    background-color: #ffffff;
    /* display: table; */
}

.voltar{
    text-decoration: none !important;
    color: #333;
    font-weight: 700
}

.voltar:hover{
    color: #222;
    text-decoration: none;
}

h3{
    text-align: center;
    margin: 10px !important;
}

.card.card-body{
    margin-bottom: 2em;
}

.lapis{
    padding: 6px;
    font-size: 22px;
    margin-left: 4px
}

.col{
    text-align: center;
}

.div#colunaBotaoResolver{
    text-align: right;
}

.ui.comments .comment .author{
    letter-spacing: 0.5px;
}

.custom-download{
    border-bottom: 1px solid #545b62;
}