.bloco{
    text-align: center;
    background: #efefef;  
    border-radius: 10px;  
}

.navbar-tabela.top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-tabela.bottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botao-tabela{
    margin-left: 5px;
    margin-right: 5px;
}

.operacoes{
    display: flex;
    flex-flow: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.tabela{
    border-radius: 10px;  
    margin-bottom: 0;
}

.b-plus{
    padding: 8px 10px;
}

.plus{
    line-height: 5px;
    font-size: 22px;
    border: none;
}

.opcoes{
    padding: 7px;
    font-size: 20px;
}

.table td{
    vertical-align: middle;
}

.table-responsive{
    min-height: 40vh;
    max-height: 80vh !important;
}

.input-tabela{
    margin-left: 5px;
    margin-right: 5px;
}