.login{
    min-width: 400px;
}

.login .titulo{
    cursor: default;
    color: #fff;
    font-weight: 600;
    font-size: 60px;
}

.login .subtitulo{
    cursor: default;
    color: #fff;
    font-size: 20px;
}

.login .input-login{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    width: 300px;
}

.botao-login{
    background: rgba(0,0,0,0);
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 16px;
    transition: color 0.4s ease-in-out, 
    background-color 0.4s ease-in-out, 
    opacity 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botao-login:hover:enabled{
    color: #0099a4;
    border: 2px solid white;
    background: #fff;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}

.botao-login:active:enabled{
    color: #0099a4;
    border: 2px solid #cacaca;
    background: #cacaca;
}

.botao-login:disabled{
    border: 2px solid white;
    background: rgba(0,0,0,0);
    opacity: 0.1;
}

.link-login{
    text-decoration: none;
    color: #eee;
    transition: all 0.3s ease-in-out;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.link-login:hover, .link-login:active{
    color: #ddd;
    border: none;
    outline: none;
    text-decoration: none;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4)
}

.alarme{
    border: 2px solid red;
}

.alarme:focus{
border: 2px solid red;
    box-shadow: 0 0 0 0.2rem rgba(255,0,0,0.5);
}